.user-list h1 {
  background: black;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: clamp(24px, 4vw, 36px);
}

.user-list li {
  margin-bottom: 16px;
  font-size: 22px;
}

.user-list a {
  color: #60369b;
}

.user-list img {
  vertical-align: baseline;
}
